// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';

// Basics
@import 'basics/typography';
@import 'basics/base';
@import 'basics/helpers';
@import 'basics/layout';

// Views
@import 'pages/main-page';

// Components
@import 'cmps/episode-preview';
@import 'cmps/episode-list';

.main-app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	main {
		flex-grow: 1;
		width: 100%;
	}
}
