.app-header {
	height: $header-height;
	position: relative;
	@include flex-center;
	@include themify('background-color', 'header-bg');
	padding: em(5px);
	box-shadow: $box-shadow;

	.main-layout.dark-theme & .btn-toggle-theme {
		box-shadow: 1px 1px 1px 0px black;
		&:after {
			content: url(../../img/moon.png);
		}
	}

	.main-layout.light-theme & .btn-toggle-theme {
		box-shadow: 1px 1px 1px 0px $clr3;
		&:after {
			content: url(../../img/sun.png);
		}
	}

	.btn-toggle-theme {
		position: absolute;
		right: 0;
		top: 0;
		margin: em(5px);

		@include flex-center;
		width: 40px;
		height: 40px;
		background-color: transparent;
		border: none;
		border-radius: $border-radius;
	}

	@include for-mobile-layout {
		height: $header-height - 5vh;
		align-items: end;

		.btn-toggle-theme {
			margin: em(2px);
			width: 35px;
			height: 35px;
		}
	}
}
