.episode-preview {
	box-shadow: $box-shadow;
	border-radius: $border-radius;
	overflow: hidden;

	position: relative;
	height: 130px;
	padding: em(10px);
	text-align: center;

	@include themify('background-color', 'bg-ep-card');

	&:hover {
		opacity: 0.7;
	}

	h2 {
		font-size: em(23px);

		&:hover {
			scale: 1.1;
		}
	}

	p {
		margin-top: auto;

		span {
			font-family: $rubik-light;
			margin-inline-start: em(10px);
		}
	}
}
