/* Media queries Breakpoint mixins */
@mixin for-mobile-layout {
	@media (max-width: $break-narrow) {
		@content;
	}
}

@mixin for-narrow-layout {
	@media (min-width: $break-narrow) {
		@content;
	}
}

@mixin for-normal-layout {
	@media (min-width: $break-normal) {
		@content;
	}
}

@mixin for-wide-layout {
	@media (min-width: $break-wide) {
		@content;
	}
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin themify($property, $key, $themes: $themes) {
	@each $theme, $colors in $themes {
		&.#{$theme}-theme,
		.#{$theme}-theme & {
			#{$property}: map-get($colors, $key);
		}
	}
}
