/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
	@media (max-width: $padded-break-narrow) {
		@content;
	}
}

@mixin for-narrow-layout {
	@media (min-width: $padded-break-narrow) {
		@content;
	}
}

@mixin for-normal-layout {
	@media (min-width: $padded-break-normal) {
		@content;
	}
}

@mixin for-wide-layout {
	@media (min-width: $padded-break-wide) {
		@content;
	}
}

@mixin layoutGTC($max, $layoutPadding) {
	grid-template-columns:
		minmax(auto, $layoutPadding)
		minmax($max, 1fr)
		minmax(auto, $layoutPadding);
}

@mixin classic-btn($bgColor: transparent) {
	background-color: $bgColor;
	color: $clr0;
	font-family: inherit;
	border: none;
	border-radius: em(5px);

	&:hover {
		color: $clr1;
	}
}

@mixin classic-input($bgColor: white, $padding: 5px) {
	padding: $padding;
	border: none;
	border-radius: 4px;
	background-color: $bgColor;
	color: $clr0;
	font-size: em(16px);
}

@mixin spceial-btn {
	background: linear-gradient(-45deg, $clr1, $clr2, $clr3, $clr4);
	border: none;
	padding: em(5px);
	border-radius: 5px;
	font-weight: bold;
	background-size: 400% 400%;
	animation: gradient-bg 10s ease infinite;

	&:hover {
		scale: 1.05;
	}
}
