// Colors
$clr1: #ffffff;
$clr2: #e3e3eb;
$clr3: rgb(155, 155, 155);
$clr4: rgb(96, 96, 96);
$clr5: #333333;

$rick-clr: #a3a3cd;
$morty-clr: #b77748;
$aura-clr: #6df059;

$secondary-clr1: #fed5b3;

$logo-color: #b66d4d;
$card-bg-clr: #3c3e44;

//FONTS
$rubik-light: 'rubik-light';
$rubik: 'rubik';
$rubik-bold: 'rubik-bold';
$rubik-extraBold: 'rubik-extrabold';
$rubik-burned: 'rubik-burned';

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 800px;
$break-wide: 1100px;

$layoutPaddingSmall: 10px;
$layoutPaddingMedium: 40px;
$layoutPaddingLarge: 80px;

$padded-break-narrow: $break-narrow + $layoutPaddingSmall * 2;
$padded-break-normal: $break-normal + $layoutPaddingMedium * 2;
$padded-break-wide: $break-wide + $layoutPaddingLarge * 2;

//Heights
$header-height: 17vh;
$footer-height: 5vh;
$main-height: calc(100vh - $header-height - $footer-height);

// OTHERS

$box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
$border-radius: 5px;
