// Colors
$clr1: #ffffff;
$clr2: #f3eeeb;
$clr3: #9b9b9b;
$clr4: #606060;
$clr5: #333333;

$rick-clr: #a3a3cd;
$morty-clr: #b77748;
$aura-clr: #6df059;

$secondary-clr1: #fed5b3;

$themes: (
	light: (
		bg: $clr2,
		fc: $clr5,
		header-bg: $clr1,
		bg-ep-card: $secondary-clr1,
		filter-clr: $rick-clr,
		scrollbar-clr: $clr1,
	),
	dark: (
		bg: $clr4,
		fc: $clr1,
		header-bg: $clr5,
		bg-ep-card: $rick-clr,
		filter-clr: $morty-clr,
		scrollbar-clr: $clr2,
	),
);

//FONTS
$rubik-light: 'rubik-light', cursive, 'sans serif';
$rubik: 'rubik', cursive, 'sans serif';
$rubik-extraBold: 'rubik-extrabold', cursive, 'sans serif';
$rubik-burned: 'rubik-burned', 'rubik', cursive, 'sans serif';

// LAYOUT BREAKPOINTS
$break-narrow: 700px;
$break-normal: 900px;
$break-wide: 1100px;

$layoutPaddingSmall: 10px;
$layoutPaddingMedium: 40px;
$layoutPaddingLarge: 80px;

$padded-break-narrow: $break-narrow + $layoutPaddingSmall * 2;
$padded-break-normal: $break-normal + $layoutPaddingMedium * 2;
$padded-break-wide: $break-wide + $layoutPaddingLarge * 2;

//Heights
$header-height: 17vh;
$footer-height: 5vh;
$main-height: calc(100vh - $header-height - $footer-height);

// OTHERS

$box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
$border-radius: 5px;
