.episode-page {
	.episode-details {
		height: 10vh;

		:is(h2, p) {
			margin-inline-start: rem(10px);
			margin-bottom: rem(2px);
		}

		h2 {
			font-size: clamp(rem(25px), 7vw, rem(35px));
		}
	}
}
