.main-page {
	height: 70vh;
	overflow-y: scroll;

	/* custom scrollbar */
	&::-webkit-scrollbar {
		width: 10px;
		border-radius: 100px;
	}

	&::-webkit-scrollbar-track {
		background-color: #f1f1f1;
		border-radius: 100px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: lighten($color: $logo-color, $amount: 15);
		border-radius: 100px;
	}
}
