* {
	box-sizing: border-box;
}

body {
	font-family: $rubik, Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
	height: 100vh;
	overflow: hidden;
}

button,
select {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: unset;
}

p {
	margin: 0 0 0.5em;
}

button,
input,
textarea,
select {
	font-family: inherit;
	color: inherit;
}

::selection {
	background-color: $morty-clr;
	color: $secondary-clr1;
}
