/* buttons */
.btn {
	@include btn;
}

.title-box {
	@include title;
}

/* list helpers */
.clean-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-block-end: 0;
	margin-block-start: 0;
}

/* flex helpers */
.flex {
	display: flex;
}

.flex.flex-column {
	flex-direction: column;
}

.flex.justify-center {
	justify-content: center;
}

.flex.justify-between {
	justify-content: space-between;
}

.flex.align-center {
	align-items: center;
}
