// GRIDS

.main-layout {
	display: grid;
	grid-template-columns: 10px 1fr 10px;

	> * {
		grid-column: 2;
	}

	> *.full {
		grid-column: 1 / -1;
	}
	@include for-narrow-layout {
		@include layoutGTC($break-narrow, $layoutPaddingSmall);
	}

	@include for-normal-layout {
		@include layoutGTC($break-normal, $layoutPaddingMedium);
	}

	@include for-wide-layout {
		@include layoutGTC($break-wide, $layoutPaddingLarge);
	}
}

.main-container-layout {
	height: 87vh;
	display: grid;

	.screen {
		background-color: rgba(rgb(70, 70, 70), 0.5);
		z-index: 10;
		position: absolute;
		inset: 0;
		top: 10vh;
		display: none;
	}

	.app-header:has(.nav-ham.open) + & {
		.screen {
			display: block;
		}
	}
}

.footer {
	background-color: $clr4;
	color: $clr2;
	height: 3vh;
	// position: fixed;
	// width:100%;
	// bottom:0;
}
