.main-layout {
	display: grid;
	grid-template-columns:
		minmax($layoutPaddingSmall, 1fr)
		minmax(auto, $break-narrow)
		minmax($layoutPaddingSmall, 1fr);

	@include for-narrow-layout {
		grid-template-columns:
			minmax($layoutPaddingSmall, 1fr)
			minmax(auto, $break-narrow)
			minmax($layoutPaddingSmall, 1fr);
	}
	@include for-normal-layout {
		grid-template-columns:
			minmax($layoutPaddingMedium, 1fr)
			minmax(auto, $break-normal)
			minmax($layoutPaddingMedium, 1fr);
	}
	@include for-wide-layout {
		grid-template-columns:
			minmax($layoutPaddingLarge, 1fr)
			minmax(auto, $break-wide)
			minmax($layoutPaddingLarge, 1fr);
	}

	@include themify('color', 'fc');
	@include themify('background-color', 'bg');
}

.main-layout > * {
	grid-column: 2;
}

.full {
	grid-column: 1 / -1;
}

.route-view {
	height: $main-height;

	@include for-mobile-layout {
		height: $main-height + 5vh;
	}
}
