@font-face {
	src: url(../../fonts/Rubik/Rubik-Light.ttf);
	font-family: rubik-light;
}

@font-face {
	src: url(../../fonts/Rubik/Rubik-Regular.ttf);
	font-family: rubik;
}

@font-face {
	src: url(../../fonts/Rubik/Rubik-Bold.ttf);
	font-family: rubik-bold;
}

@font-face {
	src: url(../../fonts/Rubik/Rubik-ExtraBold.ttf);
	font-family: rubik-extrabold;
}

@font-face {
	src: url(../../fonts/Rubik/RubikBurned-Regular.ttf);
	font-family: rubik-burned;
}
